body {
  background-color: #232323;
}

#myCanvas {
  /*border-bottom: 1px solid white;*/
}

#restart {
  background-color: red;
  height: 23px;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 600px;
  font-size: 25px;
  z-index: 2;
}
