body {
  background-color: #232323;
}

#myCanvas {
  /*border-bottom: 1px solid white;*/
}

#restart {
  background-color: red;
  height: 23px;
  width: 275px;
  position: absolute;
  top: 625px;
  left: 500px;
  font-size: 25px;
  z-index: 2;
}
